<div class="container kegList">
  <div class="card" *ngFor="let clickedKeg of childKegList">
    <img class='card-img-top' src={{clickedKeg.image}}>
    <div class="card-body">
      <h5 class="card-title">{{clickedKeg.name}}</h5>
      <p>A fresh new beer by {{clickedKeg.brand}}!</p>
    </div>
    <ul class ="list-group list-group-flush">
      <li class="list-group-item">Price: ${{clickedKeg.price}}</li>
      <li class="list-group-item"> Alcohol by Volume: {{clickedKeg.abv}}</li>
      <li class="list-group-item">Only {{clickedKeg.pintCount}} pints remaining!</li>
    </ul>
    <button (click)="editButtonClicked(clickedKeg)" class="btn btn-danger" name="button">Edit</button>
  </div>
</div>
